# Section 2. Lists in Python
## 2.1 Getting Started

As the name of this data structure suggests, a list in Python is literally a list of stuff. What that stuff is depends on what you're trying to do. Essentially, lists can contain whatever you want, as long as the contents are valid data types in Python.

In order to create a list, we enclose a comma-separated list of items with square brackets. If you have a really long list, you can include a line break immediately following a comma, as shown below.



```
my_list_one = [2, 8, 4]                # list of numbers
my_list_two = ['cat', 'dog', 'llama']  # list of strings, must use 'string'
my_list_three = [True, False, False]   # list of Booleans

my_list_four = [3, 1, 8, 4, # A really
                1, 2, 7, 3, # really
                2, 2, 6, 9, # really
                6, 6, 4, 8, # really
                7, 6, 2, 1] # long list
```

In [ ]:
my_list_one = [2, 8, 4]                # list of numbers
my_list_two = ['cat', 'dog', 'llama']  # list of strings, must use 'string'
my_list_three = [True, False, False]   # list of Booleans

my_list_four = [3, 1, 8, 4, # A really
                1, 2, 7, 3, # really
                2, 2, 6, 9, # really
                6, 6, 4, 8, # really
                7, 6, 2, 1] # long list

Note that in the above four examples, we are storing each list in a variable. E.g., the list [2, 8, 4] is being stored to the variable my_list_one.

While in the examples above we have shown that you can store numbers (floats and ints) and strings, you can also ___store variables___ in lists. Those variables may contain a number, string, or even another list! In the below example, we're setting the variables right before putting them in the list, but in real applications, the variable values could be set by the result of some function or by user input.


```
example_variable_one = 48
example_variable_two = 12
example_variable_three = 10
my_list_five = [example_variable_one, 
                example_variable_two, 
                example_variable_three]   # list of predefined variables

print(my_list_five) # Note the outputs!
```

In [ ]:
example_variable_one = 48
example_variable_two = 12
example_variable_three = 10
my_list_five = [example_variable_one, 
                example_variable_two, 
                example_variable_three]   # list of predefined variables

print(my_list_five) # Note the outputs!

[48, 12, 10]

### 2.1.1 Checking how long your list is
It is often helpful to make sure your code looks the way you want it to. If you are working with lists, one way to do that is to make sure it is composed of as many elements as you need it to be! For example, if I am storing the temperature of 5 stars for later use, I may want to check that the list is 5 elements long. Incorporating checks like this in your code can be very helpful for avoiding (and finding) bugs in your code.



```
my_list = [2, 8, 6, 4, 10]
list_length = len(my_list)  # returns the length, or number of items, in the list (5)
print(list_length)
```

In [ ]:
my_list = [2, 8, 6, 4, 10]
list_length = len(my_list)  # returns the length, or number of items, in the list (5)
print(list_length)

5

### 2.1.2 Sorting your list
It can beneficial to order your list from smallest to largest, or vice versa - if your list consists of __only__ numbers (float or int) or __only__ strings!<br>
__Note__: When sorting is done as it is shown below, the sorting is done "in place". This means that the list __itself__ is sorted, instead of a __sorted__ copy being made.

__For example:__



```
example_list = [17, 8, 29]
example_list.sort()  # The list "example_list" is now sorted
print(example_list)
```

The output of this list would now be a list with the following elements: [8, 17, 29]. 



```
my_list.sort()  # sorts the list from smallest to largest [2, 4, 6, 8, 10]
print(my_list)

my_list.sort(reverse=True)  # reverse-sorts the list [10, 8, 6, 4, 2]
print(my_list)
```

In [ ]:
example_list = [17, 8, 29]
example_list.sort()  # The list "example_list" is now sorted
print(example_list)

[8, 17, 29]

In [ ]:
my_list.sort()  # sorts the list from smallest to largest [2, 4, 6, 8, 10]
print(my_list)

my_list.sort(reverse=True)  # reverse-sorts the list [10, 8, 6, 4, 2]
print(my_list)

[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

### 2.1.3 Your turn: Create a list!
__Tasks__: <br>
> - Create a list for numbers 1-10 (inclusive of both 1 and 10) <br>
> -Create a list of with your first, middle, and last name(s) <br>

Try making these lists in the cell below!

In [ ]:
# your code below
numbers = list(range(1,11))
print(numbers)

names = ['Your', 'Name', 'Here']
print(names)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Your', 'Name', 'Here']

### Your turn: Sort your list!
__Tasks__:
> - sort your numbered list from __smallest to largest__ 
> - sort your numbered list from __largest to smallest__

In [ ]:
# your code below

numbers.sort()
print(numbers) # first task

numbers.sort(reverse=True)
print(numbers) # second task

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2.2 Slicing Lists in Python

Sometimes (or oftentimes), when working with lists, it is useful to get one entry or a subset of the list. When we do this in Python, we call it slicing the list and we call the subset we got a slice. Note that the rules for slicing are the same 

### 2.2.1 One at a Time

First, let's start with the simplest example. Let's say we want to access a specific entry in the list. We call the position of an entry of a list its index. We can access an entry by putting its index in square brackets next to the list's name like below.


Note: Counting in Python (and in a lot of programming languages in general), we count starting from 0 instead of 1.


```
dist_list = [0.4, 0.7, 1.0, 1.5,    # distance of planets from the sun 
             5.2, 9.5, 19.2, 30.1]  # in units of Earth's distance ("au")

print('The distance of Mercury is', str(dist_list[0]), 'au')

print('The distance of Jupiter is', str(dist_list[4]), 'au')
```

In [ ]:
dist_list = [0.4, 0.7, 1.0, 1.5,    # distance of planets from the sun 
             5.2, 9.5, 19.2, 30.1]  # in units of Earth's distance ("au")

print('The distance of Mercury is', str(dist_list[0]), 'au')

print('The distance of Jupiter is', str(dist_list[4]), 'au')

The distance of Mercury is 0.4 au
The distance of Jupiter is 5.2 au

We can also count backwards! We just need to use negative numbers instead of positive numbers.

```
print('The distance of the furthest planet is',dist_list[-1],'au')

print('The distance of the second furthest planet is',dist_list[-2],'au')
```

In [ ]:
print('The distance of the furthest planet is',dist_list[-1],'au')

print('The distance of the second furthest planet is',dist_list[-2],'au')

The distance of the furthest planet is 30.1 au
The distance of the second furthest planet is 19.2 au

Keep in mind that you cannot access an index that does not exist. See what happens when you run the two lines of code below (one at a time!)

```
print(dist_list[10])

print(dist_list[-9])
```

In [ ]:
print(dist_list[10])

IndexError: ignored

In [ ]:
print(dist_list[-9])

IndexError: ignored

### 2.2.2 Starting and Stopping

So far, we've only tried accessing one item from a list but in a lot of cases we want more than one value. When you take a slice of a list, __you have three options__ you can control: 

> - The start index
> - The end index (which is non-inclusive in the slice)
> - Lastly, a "step value", which controls how you want to step over the items included in your slice (one by one, every other, etc.).

When slicing a list, it's formatted like my_list[start:stop:step].

Let's go through each one individually. First, let's make a list with the names of all the planets in order.

In [ ]:
name_list = ['mercury','venus','earth','mars',
             'jupiter','saturn','uranus','neptune']

Now, let's do some stuff with this list. Let's start by getting the whole list except mercury. In this case, we're excluding the 0th value and starting on the 1st.

```
print(name_list[1:])
print(name_list[1::])
print(name_list[-7:])
print(name_list[-7::])
```

In [ ]:
print(name_list[1:])
print(name_list[1::])
print(name_list[-7:])
print(name_list[-7::])

['venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']
['venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']
['venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']
['venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

Notice that in the above example we only included a value for start. If the other values aren't filled in, they default to stop=len(my_list) and step=1. Also notice that the first and second lines resulted in the same output. In otherwords, the step parameter and its associated colon are completely optional.

Next, notice that the third and fourth lines resulted in exactly the same list as the first and second. When working with lists, we can always count backwards from the last index instead of starting from 0.

Next, let's try to get all the planets except the last two. Remember that the value we specify for the end index is exclusive. In other words, we stop BEFORE end.

```
print(name_list[:6])
print(name_list[:6:])
print(name_list[:-2])
print(name_list[:-2:])
```

In [ ]:
print(name_list[:6])
print(name_list[:6:])
print(name_list[:-2])
print(name_list[:-2:])

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']
['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']
['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']
['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']

Now, we can see that if we don't specify start, the default is start=0. Again, we see that it doesn't matter whether or not we include the second colon and it also doesn't matter whether we use an entry's positive or negative index. 

In practice, it's often simpler to specify start with the positive index and stop with either the positive or the negative index depending on how long the list is. 

Next, we can combine these two. In the following example, let's get a list with the planets next to the asteroid belt. The first one is mars, at index 3, and the second is jupiter, at index 4. In that case, we want to stop BEFORE Saturn, at index 5 or -3.

```
print(name_list[3:5])
print(name_list[3:-3:])
```

In [ ]:
print(name_list[3:5])
print(name_list[3:-3:])

['mars', 'jupiter']
['mars', 'jupiter']

Now it's your turn! In the cell below, try to get the following lists from name_list by changing the values of start and stop:

>- all the inner planets (Mercury to Earth)
>- all the outer planets (Jupiter to Neptune)

In [ ]:
# Uncomment the lines below and change start and stop to the appropriate values
print(name_list[:4])
print(name_list[4:])

['mercury', 'venus', 'earth', 'mars']
['jupiter', 'saturn', 'uranus', 'neptune']

### 2.2.2 Changing the Step Size

Now, let's talk about the last argument, step. Basically, this argument allows us to take every nth value from a list. 

In the first example below, we start from Mercury and take every second planet. In the second, we do the same, but starting from Venus instead. In the third, we start from Venus and end before the last planet, Neptune. In the fourth, we start from Venus and stop before the second to last planet, Uranus.

Notice that the third and fourth lines produce the same output. The reason why is basically that the planet after Saturn would have been skipped anyway.

```
print(name_list[::2])
print(name_list[1::2])
print(name_list[1:-1:2])
print(name_list[1:-2:2])
```

In [ ]:
print(name_list[::2])
print(name_list[1::2])
print(name_list[1:-1:2])
print(name_list[1:-2:2])

['mercury', 'earth', 'jupiter', 'uranus']
['venus', 'mars', 'saturn', 'neptune']
['venus', 'mars', 'saturn']
['venus', 'mars', 'saturn']

But this isn't the only thing we can do with step. We can also count backwards! If we use a negative value, the behavior is the same, but the order is reversed, as you can see in the two examples below.

```
print(name_list[::-1])
print(name_list[::-2])
```

In [ ]:
print(name_list[::-1])
print(name_list[::-2])

['neptune', 'uranus', 'saturn', 'jupiter', 'mars', 'earth', 'venus', 'mercury']
['neptune', 'saturn', 'mars', 'venus']

Compare the second line in this example to the first line in the previous example. They do not contain the same values! Why? Well, when we specify a negative index, the list basically reverses order FIRST before doing anything else. As a result, we start counting from -1 and then go down to -len(my_list).

See the below examples for how this changes what we need to do for start and stop.

```
print(name_list[1:6:-1])
print(name_list[5:0:-1])
print(name_list[-3:-8:-1])
```

In [ ]:
print(name_list[1:6:-1])
print(name_list[5:0:-1])
print(name_list[-3:-8:-1])

[]
['saturn', 'jupiter', 'mars', 'earth', 'venus']
['saturn', 'jupiter', 'mars', 'earth', 'venus']

In the first line, we tried to get the planets from Venus to Saturn in reverse order, but it returned an empty list. The second and the third lines do this successfully.

Now it's your turn!

1. Get the outer planets again, but this time in reverse order.

```
print(name_list[start:stop])
```
2. Try to predict what the output of these two lines will be BEFORE you run them

```
print(name_list[2:4:2])
print(name_list[6::-2])
```

In [ ]:
print(name_list[:3:-1])

['neptune', 'uranus', 'saturn', 'jupiter']

In [ ]:
print(name_list[2:4:2])
print(name_list[6::-2])

['earth']
['uranus', 'jupiter', 'earth', 'mercury']

## 2.3 Editing lists

Note that all the methods described below change the list in place. In other words, using any one of these methods permanently changes the contents of the list.

### 2.3.1 Appending items to the list
You can use the append method shown below to expand your lists. The format (or "syntax") for using append is as follows:
```
your_list_here.append(element)
```
__Note:__ the element you could be appending could be a string, a number, or even a list. The appended item always goes at the end, after all the original values in the list.

Lets take a look at this in action below!
```
empty_list = []
print(empty_list)

empty_list.append(3)
print(empty_list)

empty_list.append(6)
empty_list.append(9)
print(empty_list)
```

In [ ]:
empty_list = []
print(empty_list)

empty_list.append(3)
print(empty_list)

empty_list.append(6)
empty_list.append(9)
print(empty_list)

[]
[3]
[3, 6, 9]

### 2.3.2 Extending Lists

Let's say you have two lists that you want to put together. You can do this using the extend method:
```
list1.extend(list2)
```
Let's see an example below
```
planets = ['mercury','venus','earth','mars']
outer_planets = ['jupiter','saturn','uranus','neptune']

planets.extend(outer_planets)
print(planets)
```

In [ ]:
planets = ['mercury','venus','earth','mars']
outer_planets = ['jupiter','saturn','uranus','neptune']

planets.extend(outer_planets)
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In the cell below, you can see what happens if you use append instead. As you can see, the behavior is quite different!
```
planets = ['mercury','venus','earth','mars']
outer_planets = ['jupiter','saturn','uranus','neptune']

planets.append(outer_planets)
print(planets)
```

In [ ]:
planets = ['mercury','venus','earth','mars']
outer_planets = ['jupiter','saturn','uranus','neptune']

planets.append(outer_planets)
print(planets)

['mercury', 'venus', 'earth', 'mars', ['jupiter', 'saturn', 'uranus', 'neptune']]

### 2.3.3 Specifying the index 

Oftentimes, it is useful to *initialize* a list when we know how long the list is going to be and then fill it up with values afterwards for memory reasons. This can provide extremely substatial speed ups to your code.
```
init_list = [0,0,0,0,0]  # initialize a list with all 0's

init_list[0] = 4  # change a couple of the values
init_list[3] = 10

print(init_list)  # the list is now different from before!
```

In [ ]:
init_list = [0,0,0,0,0]  # initialize a list with all 0's

init_list[0] = 4  # change a couple of the values
init_list[3] = 10

print(init_list)  # the list is now different from before!

[4, 0, 0, 10, 0]

### 2.3.4 Multiplying Lists

Sometimes, it's nice to not have to write something out a bunch of times. This is especially true when we want to have a list with a bunch of the same values repeated. In the previous section, we initialized a list by writing out a bunch of 0's by hand. Clearly, there must be a better way to do this! Naturally, there is! It turns out by multiplying lists by an integer, we can repeat that list that many times! See what happens when you run the below examples:
```
init_list = 40*[0]
print(init_list)

other_list = 20*[1,2]
print(other_list)
```

In [ ]:
init_list = 40*[0]
print(init_list)

other_list = 20*[1,2]
print(other_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

## 2.4 for loops
### 2.4.1 Basics

Now that we have a good understanding of how to work with lists, let's look at one of their most powerful and common uses in Python. The structure of a for loop is as follows:
```
for thing in my_list:
    do something with thing # note the indent here

now do something else # this isn't indented so it's not in the loop
```
In plain English, this code block says that for each thing in my_list, do something using thing. Keep in mind when you use a for loop with a list (known as iterating for the list), the order of the list is preserved. 

Finally, notice the indentation. You MUST have the lines of code after the for statement indented for python to recognize it as part of the for loop. Once you have a single line of code not indented, you're telling the python interpreter that the for loop code is over. It will not advance to the unindented lines until it has finished iterating over the code in the for loop. The general practice in python is to use 4 spaces for each level of indentation.

Let's look at example now using one of the lists from previous examples
```
for name in name_list:
    print('There is a planet named', name)
```

In [ ]:
for name in name_list:
    print('There is a planet named', name)

There is a planet named mercury
There is a planet named venus
There is a planet named earth
There is a planet named mars
There is a planet named jupiter
There is a planet named saturn
There is a planet named uranus
There is a planet named neptune

If the list contains numbers, we can also do mathematical operations.
```
for dist in dist_list:
    print(dist**3)
```

In [ ]:
for dist in dist_list:
    print(dist**3)

0.06400000000000002
0.3429999999999999
1.0
3.375
140.608
857.375
7077.887999999999
27270.901000000005

### 2.4.2 range()

In the previous section, we mentioned that it is common to initialize a list and then fill it with values afterwards. We can do this systematically with for loops. One way we can do this is with the range() function.

Instead of a list, range() takes an integer and returns an iterable (a cousin of the list) that allows you to loop over integers. Before we repeat the previous example, let's see how this function behaves below.
```
print(range(10))

for i in range(10):
    print(i)
```

In [ ]:
print(range(10))

for i in range(10):
    print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

Notice that the inputs of the range function behave similarly to index slicing. The optional start argument defaults to 0. Then we iterate and stop *before* stop, just like in slicing. This is useful because the output of range can be used to directly access the elements of a list without any modification. If you wanted a list containing the numbers from 0 to 9, we could turn the range iterable into a list like so:
```
list(range(10))
```

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Now, we can redo the previous example using range()
```
dist3_list = len(dist_list)*[0] # make a list the same length as dist_list but with all 0's
for i in range(len(dist_list)):
    dist3_list[i] = dist_list[i]**3

print(dist3_list)
```

In [ ]:
dist3_list = len(dist_list)*[0] # make a list the same length as dist_list but with all 0's
for i in range(len(dist_list)):
    dist3_list[i] = dist_list[i]**3

print(dist3_list)

[0.06400000000000002, 0.3429999999999999, 1.0, 3.375, 140.608, 857.375, 7077.887999999999, 27270.901000000005]

## 2.5 Practice Problem: Kepler's Third Law

Kepler's third law relates the distance of a planet from the sun to its orbital period, or the time it takes to complete a full orbit:
$$T = 2\pi\sqrt{\frac{a^3}{G(M+m)}}$$

Here, G is Newton's gravitational constant, M is the mass of the sun, m is the mass of the planet, and a is the semimajor axis of the planet, which is essentially just the distance. In practice, the masses of the planets are extremely small compared to the mass of the sun, so we can just $M+m\approx M$ and ignore the mass of the planet in the equation.

You have two tasks
>- Create a new list that contains the period of each planet in seconds
>- Calculate the conversion from seconds to years
>- For each planet, print out the following sentence: "The period of [planet] in years is [period]"

For these tasks, you'll need a few things. You'll need to define variables G (in SI units) and Msun (in kilograms). You can look both of these up. You already have a list of the names of the planets above. You also have a list of the distances, but in units of au, so you'll need to also define a variable to convert from au to meters. If you wish, you can also define a new list with the planet masses in kilograms.

You'll also need the value of pi and the square root function. I've defined pi for you below. For the square root function, recall that $sqrt(x)=x^{0.5}$

In [ ]:
pi = 3.141592653589793
print(pi)
print(4**0.5)

3.141592653589793
2.0

In [ ]:
Msun = 2e30 # kg
G = 6.67e-11 # SI
au_to_m = 1.5e11 # look this up
s_to_yr = 1/(60*60*24*365.25) # calculate this
# mass_list = # look these up (optional)

period_list = [2*pi*((dist*au_to_m)**3/(G*Msun))**0.5 for dist in dist_list] # complete this

for i in range(len(period_list)): # complete this
    print('The period of ' + str(name_list[i]) + ' in years is ' + str(period_list[i]*s_to_yr))

The period of mercury in years is 0.2533523062839737
The period of venus in years is 0.5865187969480535
The period of earth in years is 1.0014629228924337
The period of mars in years is 1.8398048680520083
The period of jupiter in years is 11.875171503831021
The period of saturn in years is 29.323802310328702
The period of uranus in years is 84.25326080613009
The period of neptune in years is 165.38062103638043